.jumbotron {
    margin: 0;
    padding: 5px;
}

.img-logo {
    margin: 0;
}

img {
    vertical-align: middle;
}

.yoga-header {
    display: inline;
    font-family: 'Licorice', cursive;
}

li {
    font-family: 'Rubik', sans-serif;
}

.yoga-p-text {
    font-family: 'Rubik', sans-serif;
}

.fixed-content {
    padding: 0;
    left:0;
    right: 0;
    top:0;
    bottom:0;
}

p h2 {
    font-family: 'PT Sans Narrow', sans-serif;
}

.card {
    margin: 20px;
    padding: 20px;
}

.highlight-nav {
    border-bottom: solid 1px #000;
}

.row-content {
    padding: 10px;
}